# Avec python 3.11
# pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cpu
# pip install torch-scatter==2.1.2 torch-sparse==0.6.18 torch-cluster==1.6.3 torch-spline-conv==1.2.2 -f https://data.pyg.org/whl/torch-2.2.0+cpu.html
# pip install torch-geometric==2.6.0

gensim==4.3.0
matplotlib
scikit-learn
node2vec==0.4.6
pandas